.easy-pagination-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
    padding: 4px;
}

.easy-pagination-navigation--horizontal {
    flex-direction: row;
    width: 100%;
}

.easy-pagination-navigation--vertical {
    flex-direction: column;
    height: 100%;
}
