.easy-pagination-track-button {
    border-radius: var(--button-border-radius);
    position: absolute;
    display: block;
    outline: var(--button-border);
    cursor: default;
    background: var(--button-background, transparent);
    transition:
        left var(--track-animation-time) ease,
        top var(--track-animation-time) ease,
        width var(--track-animation-time) ease,
        height var(--track-animation-time) ease;
}

.easy-pagination-track-button.easy-pagination-track-button--next {
    border-radius: var(--button-border-radius);
    background: var(--button-background);
    transform: scale(1);
    animation: next var(--track-animation-time) ease;
    animation-play-state: running;
}

@keyframes next {
    50% {
        transform: scale(1.2);
        box-shadow: var(--shadow) 5px 0px
            var(--active-shadow-color, var(--shadow-color));
        outline: var(--active-button-border, var(--button-border));
        background: var(--active-button-background, var(--button-background));
        border-radius: var(
            --active-button-border-radius,
            var(--button-border-radius)
        );
    }

    100% {
        transform: scale(1);
        box-shadow: var(--shadow) 5px -5px var(--shadow-color);
        outline: var(--button-border);
        background: var(--button-background);
        border-radius: var(--button-border-radius);
    }
}
